.progressBody{
  position: absolute;
  z-index: 1000;
  left: 5%;
  top: 50%;
  width: 90%;
  height: 14px;
  background-color: rgba(244, 255, 232, 1);
  box-shadow: 1px 2px 7px rgba(0,0,0,.4);
  border-radius: 10px;
  .progress{
    height: 100%;
    border-radius: 10px;
    background-color: #ff5722;
  }
}
